
.container{
    display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     background-color: indigo;
}


.card{
    display: flex;
    justify-content: center;
    background-color: pink ;
    width: calc(100% / 5);
    color: black;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border: 1px solid  magenta
 }
